<div>
    <h1>Persons</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Firstame</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="person in persons">
            <td>{{person.firstName}}</td>
            <td>{{person.name}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="remove(person)">
                    <span class="glyphicon glyphicon-minus"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="editPerson(person)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-default" ng-click="addSomePersons()">Add some persons</button>
    <button type="button" class="btn btn-default" ng-click="addOnePerson()">Add One person</button>
</div>
